
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

keep

env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

.env
.env.*
*.env


.streamlit/


vectorstore/
*.faiss
*.pkl
*.index



*.tmp
*.temp
temp/
tmp/


*.wav
*.mp3
*.flac


*.log
logs/


.ipynb_checkpoints/

.vscode/
.idea/


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/
.eggs/


.cache/
.pytest_cache/


*.bin
*.pt
*.onnx
*.model
rag/__pycache__
demo_video/